$bg-page: #F5F7F8;
$bg-header: #FFFFFF;
$bg-widget: #FFFFFF;
$widget-title-color: #171616;
$logo-color: #171616;
$active-tab: #155EBC;
$primary-btn: #155EBC;
$primary-btn-border: #155EBC;
$gray-btn: #E0E5EB;
$gray-btn-border: #E0E5EB;
$ref-link-color: #397EF3;