@import "../abstracts/_mixins";
@import "../abstracts/_variables";
input::placeholder {
    font-size: 1.2rem;
    color: $widget-title-color !important;
}

.form-group {
    position: relative;
    &.success {}
    &.error {
        .input-alert {
            opacity: 1;
            visibility: visible;
        }
    }
    a {
        [dir="ltr"] & {
            text-align: left;
        }
        [dir="rtl"] & {
            text-align: right;
        }
        font: normal normal 400 1.2rem/1.5rem Helvetica Neue;
    }
    .form-control {
        &:focus {
            box-shadow: none;
            outline: 0;
        }
        margin-top: .5rem;
        margin-bottom: .7rem;
        min-height: 4rem;
        border: 1px solid #E0E5EB;
        @include border-radius(2px);
        font-size: 1.4rem;
        color: $widget-title-color;
    }
    .apply-btn {
        position: absolute;
        right: 0;
        top: .5rem;
        height: 4rem;
        padding: 0 2rem;
        [dir="ltr"] & {
            text-align: left;
        }
        [dir="rtl"] & {
            text-align: right;
        }
        font: normal normal 400 1.4rem/1.7rem Helvetica Neue;
        color: $widget-title-color;
    }
}

.form-wizzerd {
    .wizard-fieldset {
        display: none;
        &.show {
            display: block;
        }
    }
}

.input-alert {
    color: red;
    font-size: 1.2rem;
    font-style: italic;
}